{% load staticfiles %} 
{% load humanize %}
<!DOCTYPE html>
<html class="mdl-js">
    <head>
        <title>
            GarakTool
        </title>

        <meta name="viewport" content="initial-scale=1, width=device-width"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
        <link rel="stylesheet" type="text/css" href="{% static 'testapp/material.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'testapp/garak.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'testapp/date/css/bootstrap-datepicker3.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'testapp/jquery-ui.css' %}" />
        <script src="{% static 'testapp/jquery-1.11.3.min.js' %}"></script>
        <script src="{% static 'testapp/material.js' %}"></script>
        <script src="{% static 'testapp/mdl-select.js' %}"></script>
        <script src="{% static 'testapp/garak.js' %}"></script>
        <script src="{% static 'testapp/jquery-ui.js' %}"></script>
        <script src="{% static 'testapp/jquery.tabletojson.js' %}"></script>
        <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>

        <style>
            .ui-autocomplete {
                max-height: 100px;
                overflow-y: auto;
                /* prevent horizontal scrollbar */
                overflow-x: hidden;
            }
            /* IE 6 doesn't support max-height
             * we use height instead, but this forces the menu to always be this tall
             */
            * html .ui-autocomplete {
                height: 100px;
            }
        </style>

        <script>
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!
            var yyyy = today.getFullYear();
            
            if(dd<10) {
                dd='0'+dd
            } 
            
            if(mm<10) {
                mm='0'+mm
            } 
            
            today = yyyy+'/'+mm+'/'+dd;
            
            </script>
            
            <script>
              $(function() {
                $( "#datepicker_start" ).datepicker();
                $( "#datepicker_end" ).datepicker();
                $( "#order_date" ).datepicker();
                $( "#income_date" ).datepicker();
              });
            </script>
              
            <script>
              $(function() {
                var bank = [
                "국민은행",
                "기업은행",
                "신한은행",
                "농협"
                ];
                var code_ac = [
                    {% for store_loop in global_value.store_list %}
                        {% if store_loop.store_code < 10 %}
                        "{{store_loop.store_name}}(00{{store_loop.store_code}})",
                        {% elif store_loop.store_code < 100 %}
                        "{{store_loop.store_name}}(0{{store_loop.store_code}})",
                        {% else %}
                        "{{store_loop.store_name}}({{store_loop.store_code}})",
                        {% endif %}
                    {% endfor %}
                ];
                var product_code_ac = [
                    {% for item_loop in global_value.item_list %}
                        {% if item_loop.item_code < 10 %}
                            "{{item_loop.item_name}}(00{{item_loop.item_code}})",
                        {% elif item_loop.item_code < 100 %}
                            "{{item_loop.item_name}}(0{{item_loop.item_code}})",
                        {% else %}
                            "{{item_loop.item_name}}({{item_loop.item_code}})",
                        {% endif %}
                    {% endfor %}


                ];
                var product_grade_ac = [
                    "1급(1)",
                    "2급(2)",
                    "3급(3)",
                    "똥(4)",
                    "11급(1)",
                    "111급(1)",
                    "1111급(1)",
                    "11111급(1)",
                    "111111급(1)",
                    "12급(1)",
                    "13급(1)",
                    "14급(1)",
                    "15급(1)",
                    "16급(1)",
                    "17급(1)",
                    "18급(1)",
                    "19급(1)",
                    "10급(1)",
                    "21급(1)",


                ];
                var product_unit_ac = [
                    "박스(1)",
                    "트럭(2)",
                    "컨테이너(3)"
                ]
                $( "#quick_code" ).autocomplete({
                  delay : 0,
                  autoFocus: true,
                  source: code_ac
                });
                $( "#company_code" ).autocomplete({
                  delay : 0,
                  autoFocus: true,
                  source: code_ac
                });
                $( "#product_code_input" ).autocomplete({
                  delay : 0,
                  autoFocus: true,
                  source: product_code_ac
                });
                $( "#product_grade_input" ).autocomplete({
                  delay : 0,
                  autoFocus: true,
                  source: product_grade_ac
                });
                $( "#product_unit_input" ).autocomplete({
                  delay : 0,
                  autoFocus: true,
                  source: product_unit_ac
                });
                $( "#bank" ).autocomplete({
                  delay : 0,
                  autoFocus: true,
                  source: bank
                });
                
              });
              
              

                $(function()
                {

                });


              </script>
              



              
              
            </head>

<body>
<div class="overlay"></div>
<div class="noti">
    <div class="title">
    </div>
    <div class="msg">
        <span class="text"></span>
        <div class="action">
            <div class="confirm">
                확인1
            </div>
            <div class="question">
            </div>
            <div class="input">
            </div>
            <div class="save">
                <div>저장</div>
                <div>취소</div>
            </div>
        </div>
    </div>
</div>

<div class="popup">
    <div class="title">
    </div>
    <div class="msg">
        <span class="text"></span>
        <div class="action">
            <div class="confirm">
                확인2
            </div>
            <div class="question">
            </div>
            <div class="input">
            </div>
            <div class="save">
                <div>저장</div>
                <div>취소</div>
            </div>
        </div>
    </div>
</div>

    <div class="garak_sales mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <div class="current_tool">
            <span class="mdl-layout-title">매출</span>
            </div><!-- Title -->
            <div class="user_menu">
                <span class="mdl-badge" data-badge="18"></span>
                <span class="user_name">(주)봉수상회</span>
            </div>
            <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon garak_top_right_button">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
                <li id="user_logout" class="mdl-menu__item">로그아웃</li>
            </ul>
        </div>
        <!-- Tabs -->
        <div class="garak_sub_menu mdl-layout__tab-bar mdl-js-ripple-effect">
          <a href="#scroll-tab-1" id="" class="mdl-layout__tab is-active">수주</a>
          <a href="#scroll-tab-2" id="" class="mdl-layout__tab">정산</a>
          <a href="#scroll-tab-3" id="" class="mdl-layout__tab">설정</a>
          <a href="#scroll-tab-4" id="" class="mdl-layout__tab">통계</a>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
      </div>

      <main class="mdl-layout__content">
          <div class="board">
              <div class="left_board">
                  <div class="demo-card-wide mdl-card garak_card mdl-shadow--2dp">
                      <div class="mdl-card__title garak_card_title">
                          <h2 class="mdl-card__title-text ">'정정당당'</h2>
                      </div>
                      <div class="mdl-card__supporting-text garak_card_supporting_text">
                          2015/08/01 기준 미수금
                      </div>
                      <div class="mdl-card__actions mdl-card--border">
                          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                              25,838,000
                          </a>
                      </div>
                  </div>
              </div>
              <div class="right_board">
                  <div class="demo-card-wide mdl-card garak_card mdl-shadow--2dp">
                      <div class="mdl-card__title garak_card_title">
                          <h2 class="mdl-card__title-text">전체미수금</h2>
                      </div>
                      <div class="mdl-card__supporting-text garak_card_supporting_text">
                          2015/08/02 기준 미수금
                      </div>
                      <div class="mdl-card__actions mdl-card--border">
                          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                              37,652,000
                          </a>
                      </div>
                  </div>
              </div>
          </div>
        <section class="mdl-layout__tab-panel garak-layout__tab-panel is-active" id="scroll-tab-1">
            {% include "./testapp/order.html" %}
        </section> <!-- 발주관리 끝 -->
        <section class="mdl-layout__tab-panel" id="scroll-tab-2"> <!-- 정산관리 시작 -->
            <div class="calculate_overlay"></div>
            <div class="page-content">

            
                <div class="garak_sub_title">
                    정산
                </div>
                <div class="garak_sorting">
                    일주일  |  한달  |  전체
                </div>
                <div class="garak_calendar">
                    <div class="garak_calendar_start">
                        <input placeholder="2015/08/01"></input><!-- <i class="material-icons">date_range</i>  --> ~                        <input placeholder="2015/08/31"></input><!-- <i class="material-icons">date_range</i> -->

                    </div>
                        
                
                    <div class="garak_calendar_end">
                        <input placeholder="거래처지정안함"></input>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect garak_btn">
                            검색
                        </button>
            
                    </div>

                </div>
                <div class="garak_sorting">
                    모든내역 | 매출액순 | 미수금순 | 다른옵션
                </div> 
                <div id="main_table">
                    <div class="calculate_progress progress">
                        정산 진행중<span>.</span><span>.</span><span>.</span>
                    </div>
                
                    <div class="garak_table_title">
                        <!-- <i class="material-icons">view_module</i> --><span style="padding-left : 15px;">2015/08/01 부터 2015/08/31 까지 거래 내역</span>
                        <div class="gara_table_export">
                            <span>엑셀 변환</span><span style="padding-left : 15px;">인쇄</span>
                        </div>
                    </div>

                    <table id="order_table" class="garak_table mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                      <thead>
                        <tr>
                          <th>매출날짜</th>
                          <th>매출처(코드)</th>
                          <th>거래종류</th>
                          <th>매출액</th>
                          <th>수금액/입금액</th>
                          <th>공제액</th>
                          <th>정산액</th>
                        <th>결재일</th>
                            <th>결재상태</th>
                          <th class="last_column">비고
                            <button id="new_calculate" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect garak_btn">
                                     새정산
                            </button>                                

                            </th>
                        </tr>
                      </thead>
                      <tbody>

                        <tr class="">
                          <td>2015-09-02</td>
                          <td>정정당당(001)</td>
                          <td>배추(001)</td>
                          <td>165,000</td>
                          <td>65,000</td>
                          <td>0</td>
                          <td>100,000</td>
                            <td>당일</td>
                            <td>완료</td>
                          <td class="last_column">0</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                <div id="calculate">
                 <!-- 정산팝업 -->
                    <div class="garak_table_title">
                        <!-- <i class="material-icons">view_module</i> --><span style="padding-left : 15px;">'정정당당' 정산목록</span>
<!--
                        <div class="gara_table_export">
                            <span>엑셀변환</span><span>인쇄</span>
                        </div>
-->
                    </div>

                    <table id="calculate_table" class="garak_table mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                      <thead>
                        <tr>
                          <th>매출날짜</th>
                          <th>거래종류</th>
                          <th>매출액</th>
                          <th>수금액/입금액</th>
                          <th>공제액</th>
                          <th>정산액</th>
                            <th>결재일</th>
                            <th>결재상태</th>
                          <th class="last_column">비고
                            </th>
                        </tr>
                      </thead>
                      <tbody>

                      </tbody>
                    </table>
                    <div id="confirm_calculate">
                        <div class="summary">
                            위 5 개의 주문을 2015/09/01 입금 된 10,000,00 원 으로 정산을 하게 되면, <span style="color:red;">175,200 원</span> 의 미수금이 남게 됩니다. 
                        </div>
                        <div class="confirm_btn">
                            <button id="deduct" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect garak_btn">
                                공제함
                            </button>
                            <button id="unconsumed" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect garak_btn">
                                미수처리
                            </button>

                        </div>
                    </div>
                </div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-3">
          <div class="page-content" style="color:white;">
              <div id="item_control_wrapper"></div>
          </div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-4">
          <div class="page-content" style="color:white;">통계</div>
        </section>
            <div id="bottom_navigation" class="bottom_navigation">
            ㅋㅋ
    </div>

      </main>

    </div>
    
</body>

</html>
